@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Mulish:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: grey;
}

/* Navigation styling */
#logo{
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    float: left;
    font-size: 200%;
    letter-spacing: 1px;
    margin:30px 0 0 20px;
    display: block;
}


#navigation-bar{
height: 100px;
width: 100%;
background: black;
}

#menu{
    display: block;
    font-size: 120%;
    letter-spacing: 2px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin:30px 20px 0 25px;
    display: block;
}

nav a{
    text-decoration: none;
    color: green;
}

nav a:hover{
    color:rgb(150, 0, 0);
    font-size: 105%;
}
/* End of navigation styling */



/* Footer styling */
footer{
    height: 150px;
}
